@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');




:root{
  --lightgreen-:hsl(75, 94%, 57%);
  --white-: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}

*,
::before,
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--white-);
}

main{
  height: 95vh;
  background: var(--Grey-900);
  margin: 0rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 650px;
  width: 390px;
  background: var(--Grey-800);
  border-radius: 12px;
}

.wrapper img{
  width:100px;
  border-radius: 50%;
  margin: 1rem 0;
}

.wrapper h1{
  margin: 1rem 0;
  font-size: 1.5rem;
  word-spacing: 0.3rem;
}

.wrapper h2{
  font-size: 0.8rem;
  color: var(--lightgreen-);
  
}

.wrapper p{
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 300;
  color: var(--white-);
}

.wrapper a{
  text-align: center;
  margin: 0.5rem 0;
  padding: 4.2% 0;
  width: 85%;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 8px;
  background: var(--Grey-700);
  font-weight: 600;
  color: var(--white-);
  transition: all .3s;
}

.wrapper a:hover{
  background-color: var(--lightgreen-);
  color: var(--Grey-800);
}





.attribution{
  text-align: center;
  color: white;
  font-size: 1.2rem;
  background: var(--Grey-900);
  padding: 2rem;
}

.attribution a{
  color: var(--lightgreen-);
  font-weight: 700;
  text-decoration: none;
}